@import "tailwindcss";
@plugin "tailwindcss-primeui";

.link-accent{
    color: #00bc8c
}

/*neither defining this using define preset, nor scoping it to the relevant classes seems to make it take effect*/
:root {
    --p-tooltip-background: var(--color-zinc-900) !important;
}

.p-card-title{
    text-align: center;
}

.p-card-caption{
    background-color: var(--p-surface-700);
    padding-top: .4rem;
    padding-bottom: .6rem;
}

h4{
    font-size: 1.4rem;
    padding-bottom: .4rem;
}
h5{
    font-size: 1.2rem;
    padding-bottom: .1rem;
    color: white
}
